* {
    box-sizing: border-box;
    user-select: none;
}
body {
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

:root {
    --btn-color-default: rgb(252, 224, 0);
    --btn-color-default-hover: rgb(255, 232, 54);
    --btn-color-blick: rgba(255, 228, 21, 0.955);
    --opacity-sm: 0.8;
}
.grab {
    cursor: grab;
}
.opacity {
    opacity: var(--opacity-sm);
}

.product-group-item-wrapper {
    border: 1px solid black;
}

/*#region button */
.btn-default {
    background-color: var(--btn-color-default);
    padding: 16px 24px;
    border-radius: 18px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.btn-default:hover {
    background-color: var(--btn-color-default-hover);
}
.btn-default:focus {
    border: 1px solid rgba(0, 0, 0, 0.51);
}
.btn-default:active {
    border: 1px solid rgba(0, 0, 0, 0.51);
}
/*#endregion button */
