/*#region products */
.banner-section {
    margin: 0 auto;
    width: 300px;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.product-area {
    margin: 0 auto;
    position: relative;
    min-width: 208.2px;
    width: fit-content;
    height: 575px;
}
.product-area-background {
    background-image: url("../img/closet.svg");
    position: relative;
    top: 25px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}
.product-area-group {
    position: relative;
    height: 320px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 128px 96px 96px;
}
.product-group-level {
    position: relative;
    width: 100%;
    min-width: 210px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.product-group-level-col {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50px);
    gap: 2px;
    align-items: end;
}
.middle-col {
    grid-template-columns: 33px;
    min-width: 33%;
}

.product-group-item-wrapper {
    position: relative;
    width: fit-content;
}
.product-group-item {
    cursor: grab;
}

.product-group-item > img {
    display: block;
    position: relative;
}
.selected-item {
    position: fixed;
    z-index: 2000;
    cursor: grabbing;
}

/*#endregion products */

/*#region cart */
.cart-area {
    position: relative;
    bottom: 180px;
    width: 100%;
    height: 200px;
}
.cart-area-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}
.cart-grid {
    position: absolute;
    bottom: 18px;
    left: 66px;
    width: 60%;
    height: 80%;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
}
.cart {
    position: absolute;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.product-into-cart {
    bottom: 0px;
    left: 100px;
    animation: product-insert-cart 0.6s forwards ease-in;
}
.product-into-cart > img {
    width: fit-content;
}

/*#endregion cart */

/*#region button banner */
.btn-banner {
    position: absolute;
    left: 40px;
    z-index: 30000;
    border: 2px solid rgba(0, 0, 0, 0);
}
.btn-outside-banner {
    bottom: -200px;
}
.btn-inside-banner {
    animation: btn-move-inside forwards 0.5s ease-out;
}
.btn-blick {
    border: 2px solid rgba(160, 160, 160, 0.263);
    background-color: var(--btn-color-blick);
    transition: 0.3s;
    -webkit-box-shadow: 0px 15px 27px -17px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 15px 27px -17px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 15px 27px -17px rgba(0, 0, 0, 0.35);
}
.btn-not-blick {
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: var(--btn-color-default);
    box-shadow: none;
    transition: 0.3s;
}
/*#endregion button banner */

/*#region animation */
.rotate-to-right {
    animation: rotate-to-right 0.7s forwards ease-in-out;
}
.rotate-to-left {
    animation: rotate-to-left 0.7s forwards ease-in-out;
}
.cart-move {
    animation: cart-move 1s 1s forwards ease-in-out;
}
.cart-shaking {
    animation: cart-shaking 0.4s forwards ease-out;
}
.cart-scale {
    animation: cart-scale 0.2s forwards ease-in;
}
.cart-not-scale {
    animation: cart-not-scale 0.2s forwards ease-in;
}
@keyframes cart-scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.03);
    }
}
@keyframes cart-not-scale {
    0% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes cart-shaking {
    0% {
        transform: rotate(0);
    }
    20% {
        transform: rotate(-4deg);
    }

    40% {
        transform: rotate(4deg);
    }

    60% {
        transform: rotate(-2deg);
    }

    80% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
@keyframes btn-move-inside {
    from {
        bottom: -200px;
    }
    to {
        bottom: 10px;
    }
}
@keyframes rotate-to-right {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(30deg);
    }
    30% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-6deg);
    }
    90% {
        transform: rotate(6deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes rotate-to-left {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(-30deg);
    }
    30% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(6deg);
    }
    90% {
        transform: rotate(-6deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes product-insert-cart {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-26px);
    }
    40% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-18px);
    }
    75% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes cart-move {
    0% {
        transform: translateX(0px);
    }
    5% {
        transform: translateX(-26px) rotate(-8deg);
    }
    10% {
        transform: translateX(-50px) rotate(-16deg);
    }
    100% {
        transform: rotate(0deg) translateX(500px);
    }
}
/*#endregion animation */
